:root {
    --white-900: #FFFFFF
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased; /*ficam mais detalhadas para os navegadores*/
}

body, input, textarea, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem; /*tamanho de fonte padrão 16px, seria 1 unidade relativa*/
}